/* Media Queries */


@media only screen and (max-width: 600px) {}


@media only screen and (max-width: 600px) {}


@media only screen and (max-width: 768px) {}


@media only screen and (max-width: 992px) {

    .footer-col-2,
    .footer-col-3,
    .footer-col-4 {
        min-width: 200px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .top-seller-container {
        justify-content: space-evenly;
    }

    .col-5 {
        width: 110px;
    }

    .newsletter-left .newsletter-text h3 {
        font-size: 26px;
    }

    .newsletter-left .newsletter-text {
        margin-top: 100px;
    }

    .newsletter-left .newsletter-text ul {
        margin-left: 50px;
    }

    .newsletter-right .newsletter-sub {
        margin-top: 100px;
    }

    .newsletter-right .newsletter-sub img {
        width: 200px;
    }

    .newsletter-right .newsletter-sub p {
        width: 300px;
        text-align: center;

    }
}